.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Add margin to separate from the header */
}
.header_logo{
  margin: 0;
  padding: 0;
}

.header-logo-container img {
  width: 74%;
}

@media screen and (max-width: 1024px) {
  .header-logo-container img {
    display: block; /* Show logo on tablet and mobile screens */
    width: 100%; /* Adjust width as needed */
  }
}
